<html>
    <header>
        <title>Alteza Assignment</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    </header>
    <body>

    <div class="flex justify-between border p-2 items-center">
        <h1 class="text-5xl "><a href="/" class="text-5xl">Alteza assesment</a></h1>
        {% if (auth) %}
            {{ currentUser.name }}
        {% else %}
            <form method="post" action="/login">
                <input class="border p-2" type="text" name="name" placeholder="Name">
                <input class="border p-2" type="password" name="password" placeholder="Password">
                <input class="px-4 py-2 bg-blue-600 text-white" type="submit" value="Login">
            </form>
        {% endif %}
    </div>

    <div class="flex flex-row h-full">
        <div class="flex flex-col flex-wrap w-full">
            <div class="w-1/6 border-r-2 p-2 h-full">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/articles">Add Article</a></li>
                    <li><a href="/users">Manage Users</a></li>
                </ul>
            </div>
            <div class="w-5/6 p-2">
                <dl>
                    {% block content %}
                    {% endblock %}
                </dl>
            </div>
        </div>
    </div>
    </body>
</html>