{% extends 'base_layout.twig' %}

{% block content %}
    <h2 class="text-3xl font-bold">Users</h2>
    <form method="post" class="border p-2">
        <label>Name <input class="border" type="text" name="name"/></label>
        <div class="mt-2">
            <label class="mr-3">User <input type="radio" name="role_id" value="1" checked="checked"></label>
            <label>Admin <input type="radio" name="role_id" value="2"></label>
        </div>
        <input class="bg-green-500 py-2 px-4 mt-2" type="submit" value="Add User">
    </form>
    <h2 class="text-xl">All Users</h2>
    <ul class="list-disc pl-5">
        {% for user in users %}
            <li>{{ user.name }} <a class="text-blue-500" href="/users/{{ user.id }}/edit">Edit</a></li>
        {% endfor %}
    </ul>
{% endblock %}